/* :root {
  --primary: #ee2b56;
}

body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
body::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 4px;
}
body::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
body::-webkit-scrollbar-thumb:active {
  background-color: var(--secondary);
}
body::-webkit-scrollbar-track {
  background: var(--error);
  border-radius: 4px;
}
body::-webkit-scrollbar-track:hover,
body::-webkit-scrollbar-track:active {
  background: #1f1f1f;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

table tr th {
  background: var(--primary);
}

.preloader__content {
  position: relative;
  width: 150px;
  height: 150px;
  display: grid;
  place-content: center;
  letter-spacing: 1px;
  font-size: 18px;
  margin: 0 auto;
}
.preloader__content .loading {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-left: 1px solid var(--primary);
  animation: rotate 1s linear infinite;
}
.preloader__content .loading2 {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-left: 1px solid var(--primary);
  animation: rotate2 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
 */